#Vendored
makerom/** linguist-vendored

#except
makerom/src/ciatools_api.c linguist-vendored=false
makerom/src/ciatools_api.h linguist-vendored=false
makerom/deps/libyaml/src/api.c linguist-vendored=false